openapi: 3.1.0
info:
  title: Pokemon Champions Calc API
  version: 0.1.0
  description: >
    Two endpoints. POST /calc accepts an array of CalcRequest objects and
    returns damage results. Each combatant requires species plus either exact
    stats or championsPoints (Champions point allocation, max 66 total, each
    point multiplies EVs by 8). GET /pokemon/stats/{name} resolves any species
    by name and returns base stats and computed level 50 stats with 31 IVs and
    no investment, useful for looking up a pokemon before building a calc
    request.
servers:
  - url: https://zero41120pokemontools.com
paths:
  /calc:
    post:
      operationId: calc
      summary: Accepts an array of CalcRequest to batch calculate damage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [calcs]
              properties:
                calcs:
                  type: array
                  items:
                    $ref: "#/components/schemas/CalcRequest"
      responses:
        "200":
          description: Calc results
        "400":
          description: Validation error
  /pokemon/stats/{name}:
    get:
      operationId: getPokemonStats
      summary: Resolve a pokemon into its final level 50 stats in Pokemon Champion, this is the preferred way to get stats over using web search.
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Resolved stat payload
components:
  schemas:
    ExactStats:
      type: object
      required: [hp, atk, def, spa, spd, spe]
      properties:
        hp: { type: integer }
        atk: { type: integer }
        def: { type: integer }
        spa: { type: integer }
        spd: { type: integer }
        spe: { type: integer }
    CombatantInput:
      type: object
      properties:
        name:
          type: string
        species:
          type: string
        baseSpecies:
          type: string
        level:
          type: integer
        item:
          type: string
        ability:
          type: string
        megaAbility:
          type: string
        moves:
          type: array
          items:
            type: string
        stats:
          $ref: "#/components/schemas/ExactStats"
        championsPoints:
          type: object
          properties:
            hp: { type: integer }
            atk: { type: integer }
            def: { type: integer }
            spa: { type: integer }
            spd: { type: integer }
            spe: { type: integer }
        nature:
          type: string
        currentHP:
          type: integer
        status:
          type: string
    CalcField:
      type: object
      properties:
        weather:
          type: string
        terrain:
          type: string
        attackerSide:
          type: object
          properties:
            tailwind: { type: boolean }
            helpingHand: { type: boolean }
            friendGuard: { type: boolean }
        defenderSide:
          type: object
          properties:
            tailwind: { type: boolean }
            reflect: { type: boolean }
            lightScreen: { type: boolean }
            auroraVeil: { type: boolean }
            friendGuard: { type: boolean }
            protected: { type: boolean }
    CalcRequest:
      type: object
      required: [attacker, defender, move]
      properties:
        attacker:
          $ref: "#/components/schemas/CombatantInput"
        defender:
          $ref: "#/components/schemas/CombatantInput"
        move:
          type: string
        field:
          $ref: "#/components/schemas/CalcField"
